<!DOCTYPE html>
<html>
  <style>
    input[type="submit"] {
      float: right;
      width: 20%;
      background-color: #4caf50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    /* 
    #test1div {
        border-radius: 5px;
      background-color: #f2f2f2;
      padding: 10px;
      float: left;
      width: 25%;
      height: 250px;
    }
    #test2div {
      float: left;
      width: 25%;
      height: 250px;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 10px;
    }
    #test3div {
      float: left;
      width: 25%;
      height: 250px;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 10px;
    } */
    #testSubmitBtn {
      width: 25%;
      margin: 10px 35%;
    }
  </style>
  <body>

    <h2 id="coursecode"><%= "Course Code : "+courseCode%> </h2>
    <h2 id="expnum"><%= "Experiment : "+expNum%> </h2>

    <div id="test1div">
      <h3>Test Case 1</h3>
        <label for="test1input">Input</label>
        <input type="hidden" name="selectedCourse" value=" CST KAi ">
        <textarea
          id="test1input"
          name="test1input"
          cols="40"
          rows="3"
          style="overflow: auto"
          placeholder="Type input here.."
        ><%=test1input%></textarea>
        <label for="test1output">Output</label>
        <textarea
          id="test1output"
          name="test1output"
          cols="40"
          rows="3"
          style="overflow: auto"
          placeholder="Type output here.."
        ><%=test1Output%></textarea>
      </form>
    </div>

    <div id="test2div">
      <h3>Test Case 2</h3>
        <label for="test2input">Input</label>
        <textarea
          id="test2input"
          name="test2input"
          cols="40"
          rows="3"
          style="overflow: auto"
          placeholder="Type input here.."
        ><%=test2input%></textarea>

        <label for="test2output">Output</label>
        <textarea
          id="test2output"
          name="test2output"
          cols="40"
          rows="3"
          style="overflow: auto"
          placeholder="Type output here.."
        ><%=test2Output%></textarea>
      
    </div>

    <div id="test3div">
      <h3>Test Case 3</h3>
        <label for="test3input">Input</label>
        <textarea
          id="test3input"
          name="test3input"
          cols="40"
          rows="3"
          style="overflow: auto"
          placeholder="Type input here.."
        ><%=test3input%></textarea>

        <label for="test3output">Output</label>
        <textarea
          id="test3output"
          name="test3output"
          cols="40"
          rows="3"
          style="overflow: auto"
          placeholder="Type output here.."
        ><%=test3Output%></textarea>
    </div>

    <input type="submit" value="Submit" id="testSubmitBtn" onclick="updateTestCases('<%=courseCode%>','<%=expNum%>')"%>/>
<script>
  function updateTestCases(courseCode,expNum){

    let t1in=document.getElementById("test1input").value;
    let t1out=document.getElementById("test1output").value;
    let t2in=document.getElementById("test2input").value;
    let t2out=document.getElementById("test2output").value;
    let t3in=document.getElementById("test3input").value;
    let t3out=document.getElementById("test3output").value;
    console.log("TEST CASE 1:\n"+t1in+"\n"+t1out);
    console.log("TEST CASE 2:\n"+t2in+"\n"+t2out);
    console.log("TEST CASE 3:\n"+t3in+"\n"+t3out);

    
    fetch("http://localhost:3000/faculty/testcasesetup/updatetestcases", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ courseCode:courseCode,expNum:expNum,tin1:t1in,tout1:t1out,tin2:t2in,tout2:t2out,tin3:t3in,tout3:t3out}),
      }).then((res)=>{
        
      });
  }
</script>
  </body>
</html>
